# .gitignore

# Base de données
db.sqlite3

# Fichiers de cache Python
__pycache__/
*.pyc

# Environnement virtuel
venv/
.venv/
env/

# Dossier staticfiles de Django (généré par collectstatic)
staticfiles/

# Fichiers de système d'exploitation
.DS_Store
Thumbs.db

# Fichiers de configuration d'IDE/éditeur
.idea/
.vscode/
*.swp

# Fichiers de logs
*.log

# Fichiers .env
.env